<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts</title>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type='text/JavaScript'>
	    $(document).ready(function(){
		});
    </script>
    <style type='text/css'>

    </style>
</head>
<body>
	<div class="jumbotron">
    	<div class="container">
    		<div class="well col-md-12">
                <h2>Welcome {{user['first']}} {{user['last']}}! You are a {{session['account_type']}}</h2>
                <button><a href="/users/dashboard">Home</a></button>
                <!-- <button><a href="">Profile</a></button> -->
                <button><a href="/users/logout">Logout</a></button>
			</div>
			<div class='col-md-12'>
                
				<table id="dashboard" class='col-md-12 table-striped table-bordered table-hover' >
                    <h2>Loan Offers</h2>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Amount</th>
                            <th>Interest Rate</th>
                            <th>Loan Term</th>
                            <th>Start Date</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- Here we will have a for loop to generate table data -->
                    {%for loan in loan_info%}
                        <tr>
                            <td><a href="/users/loan/{{loan['id']}}">{{loan['title']}}</a></td>
                            <td>${{loan['amount']}}</td>
                            <td>{{loan['interest']}}%</td>
                            <td>{{loan['term']}}</td>
                            <td>{{loan['start']}}</td>
                            <td>{{loan['balance']}}</td>
                            <td>{{loan['status']}}</td>
                            <td><button><a href="/users/loan/{{loan['id']}}">View Loan</a></button></td>         
                        </tr>
                    {%endfor%}
                    </tbody>            
                </table>
                <div id='ledger'>
                    <h2>Balance</h2>
                    <table class='col-md-6'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Change</th>
                                <th>Description</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for data in ledger%}
                                <tr>
                                    <td>{{data['created_at']}}</td>
                                    <td>{{data['change']}}</td>
                                    <td>{{data['comment']}}</td>
                                    <td>{{data['balance']}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
			</div>

    </div>
			<form class="" role="form" action="/users/get_loan" method='get'>
				<input type="submit" value="New Loan" class="btn btn-success">
			</form>
</body>
</html>
