<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts</title>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type='text/JavaScript'>
	    $(document).ready(function(){
		});
    </script>
    <style type='text/css'>

    </style>
</head>
<body>
	<div class="jumbotron">
    	<div class="container">
    		<div class="well col-md-12">
                <h2>Loan Share</h2>
			</div>
			<div id="notes" class='col-md-12'>
				<h1>HERO IMAGE</h1>
			</div>
    		<div class="col-md-6">
    			<h4>Already a User? Login Here!</h4>
    			<form class="" role="form" action="/users/login" method='post'>
    				<label for="log_email">E-mail: </label>
    				<input type="text" name='log_email' id='log_email' class="form-control" placeholder="Enter your Email">
    				<label for="log_pw">Password: </label>
    				<input type="password" name='log_pw' id='log_pw' class="form-control" placeholder="Enter your Password">
    				<input type="submit" value="Post It!" class="btn btn-success">
    			</form>
    		</div>
    		<div class="col-md-6">
    			<h4>Don't have an account? Register below!</h4>
    			<form class="" role="form" action="/users/register" method='post'>
    				<label for="reg_first">First Name: </label>
    				<input type="text" name='reg_first' id='reg_first' class="form-control" placeholder="">
    				<label for="reg_last">Last Name: </label>
    				<input type="text" name='reg_last' id='reg_last' class="form-control" placeholder="">
    				<label for="reg_email">E-mail: </label>
    				<input type="text" name='reg_email' id='reg_email' class="form-control" placeholder="">
    				<label for="reg_phone">Phone: </label>

    					<input type="tel"  pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}'name='reg_phone' id='reg_phone' class="form-control" placeholder="(xxx)xxx-xxxx"  title='Phone Number (Format: (555)555-5555)'>

    				<label for="acct_type">Account Type
	    				<select name="acct_type" id="acct_type">
	    					<option value="1">Lender</option>
	    					<option value="2">Borrower</option>
	    				</select>
    				</label>
    				<label for="reg_pw">Password: </label>
    				<input type="password" name='reg_pw' id='reg_pw' class="form-control" placeholder="">
    				<label for="reg_pw_confirm">Confirm Password: </label>
    				<input type="password" name='reg_pw_confirm' id='reg_pw_confirm' class="form-control" placeholder="">
    				<input type="submit" value="Register Now" class="btn btn-success">
    			</form>
    			{%with messages= get_flashed_messages()%}
                    {%if messages%}
                        {%for message in messages%}
                            <p>{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
    		</div>

    	</div>
    </div>
</body>
</html>
